<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bee.wanandroidkotlin">
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".WanAndroidKotlinApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_logo_blue"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/activity_style"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.bee.wanandroidkotlin.ui.common.activity.SplashActivity"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.common.MainActivity"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bee.wanandroidkotlin.ui.common.activity.LoginActivity"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bee.wanandroidkotlin.ui.common.activity.RegisterActivity"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bee.wanandroidkotlin.ui.common.activity.SearchActivity"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ground.activity.TencentDetailListActivity"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ground.activity.TagDetailListActivity"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.me.SettingActivity"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.common.activity.DetailContentWebActivity"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.me.MyCollectionDetailListActivity"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"
            android:screenOrientation="portrait" />
    </application>

</manifest>